@content-length: 1180px;

#top-info {
    background-color: black;

    ul {
        background-color: black;
        width: @content-length;
        height: 26px;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        font-size: 14px;

        li {

            height: 26px;
            line-height: 26px;
            margin: 0 10px;

            a {
                color: #eee;
                text-decoration: none;
            }

            a:hover {
                color: orange;
            }
        }
    }
}

nav {
    padding: 0 40px;
    background-color: white;
    border-bottom: 1px solid #eee;

    #nav-content {
        width: @content-length;
        height: 64px;
        margin: 0 auto;
        display: flex;

        img {
            padding: 12px 40px;
            height: 40px;
        }

        .main-nav {
            width: 864px;

            ul {

                display: inline-flex;
                // position: relative;

                li {
                    font-family: "微软雅黑";
                    font-weight: bold;
                    font-size: 14px;
                    padding: 0 20px;
                    height: 64px;
                    line-height: 64px;

                    a {
                        color: #2d383f;
                        text-decoration: none;
                    }
                }

                li:hover a {
                    color: #004b8d;
                }

                li:first-child:hover~div#oem {
                    display: block;
                }

                li:nth-child(2):hover~div#process {
                    display: block;
                }

                div {
                    //相对于html绝对定位
                    position: absolute;
                    display: none;
                    height: 300px;
                    width: 100%;
                    border-top: 1px solid rgb(224, 224, 224);
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
                }

                div#oem {
                    left: 0px;
                    top: 90px;

                }

                div#process {
                    left: 0px;
                    top: 90px;
                }
            }

        }

        .search {
            width: 172px;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                color: #004b8d;

                i {
                    font-size: 24px;
                    // height: 64px;
                    // line-height: 64px;
                }
            }

            a#search-btn {
                width: 108px;
                height: 64px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                font-size: 14px;
                align-items: center;

                span {
                    height: 64px;
                    line-height: 64px;

                }
            }

            a#search-btn:hover {
                background-color: rgb(123, 155, 170);
                color: white;
            }

            a#cart i {
                padding-left: 10px;
            }

        }
    }
}